{
  "presets": ["react", "stage-1", "env"],
  "plugins": ["transform-object-assign", "transform-class-properties", "transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
